html {
    background-image: url("../images/0_Main/mainbg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    scroll-padding-top: 70px;
}

body {
    background-color: rgba(77, 88, 99, 0.9) !important;
}

header {
    height: 50px;
}


/* Sidebar CSS */
aside {
    position: fixed;
    width: 200px;
    top: 50px; /* Apx height of the header */
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    z-index: 0; /* Put sidebar at the back */
    overflow-y: auto;
    padding-bottom: 120px;
}

.internal-nav ul {
    list-style: none;
    padding: 0;
}

.internal-nav ul li {
    margin-bottom: 10px;
}

.internal-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.internal-nav ul li a:hover {
    color: #000;
}

#votingResults {
    padding: 0px;
}

#votingResults span {
    font-size: 20px;
    margin: 5px;
}

#votingResultsHead {
    margin-bottom: 8px;
}


/* Main Content CSS */
main {
    margin-top: 25px;
    margin-left: 200px; /* width of the sidebar + some margin */
    margin-bottom: 42px;
    padding: 25px;
    color: #fff;
}

.text-lyellow {
    color: rgb(255, 255, 135) !important;
}

.bg-mon {
    /* Dark Magenta */
    background-color: #8B008B;
}

.bg-ten {
    /* Saddle Brown */
    background-color: #8B4513;
}

.bg-max {
    /* Dark Red */
    background-color: #8B0000;
}

figcaption {
    font-size: 20px !important;
}


/* Footer CSS */
footer {
    position: fixed;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto 0;
    padding: 10px;
}

.bg-roc {
    /* Light Slate Grey */
    background-color: #778899;
}


/* Media Queries */
@media screen and (max-width: 415px) {
    aside {
        width: 45vw;
        font-size: small;
    }
    aside .text-lyellow {
        font-size: medium;
    }
    main {
        margin-left: 45vw;
        margin-bottom: 90px;
    }
    #votingResults span {
        font-size: 18px;
    }
    #votingResultsHead div {
        padding-left: 12px;
        padding-right: 0px;
    }
}
